body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    width: 300px;
    border: 2px solid #004080; /* Green border */
}

img {
    align-items: center;
    width: 90px;
    margin-left: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 25% ;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: 2px solid #218838; /* Border added */
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Button shadow */
}

button:hover {
    background: #218838;
}
